*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 
* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
/p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
} */

html {
  background: linear-gradient(rgba(188, 188, 188, 0.2) 0 0) calc(1 * 100% / 6),
    linear-gradient(rgba(188, 188, 188, 0.2) 0 0) calc(2 * 100% / 6),
    linear-gradient(rgba(188, 188, 188, 0.2) 0 0) calc(3 * 100% / 6),
    linear-gradient(rgba(188, 188, 188, 0.2) 0 0) calc(4 * 100% / 6),
    linear-gradient(rgba(188, 188, 188, 0.2) 0 0) calc(5 * 100% / 6);
  background-size: 1px 100%;
  background-repeat: no-repeat;
}
.App {
}
